<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "shop">
	
	<!-- 상품 리스트 1차분류 -->
	<select id="shopList" resultType="com.example.spring03.domain.GoodsViewVO">
		select g.gdsnum, g.gdsname, g.catecode, c.catecoderef, c.catename, g.gdsprice, g.gdsstock, g.gdsdes, g.gdsdate, g.gdsimg, g.gdsthumbimg
		from tbl_goods g inner join goods_category c on g.catecode = c.catecode 
		where g.catecode = #{catecode}
	</select>
	
	<!-- 상품 리스트 2차분류 -->
	<select id="shopList_ref" resultType="com.example.spring03.domain.GoodsViewVO">
		select g.gdsnum, g.gdsname, g.catecode, c.catecoderef, c.catename, g.gdsprice, g.gdsstock, g.gdsdes, g.gdsdate, g.gdsimg, g.gdsthumbimg
		from tbl_goods g inner join goods_category c on g.catecode = c.catecode 
		where g.catecode = #{catecode} or c.catecoderef = #{catecoderef}
	</select>
	
	<!-- 상품 조회 + 카테고리 조인 -->
	<select id="shopView" resultType="com.example.spring03.domain.GoodsViewVO">
		select g.gdsnum, g.gdsname, g.catecode, c.catecoderef, c.catename, g.gdsprice, g.gdsstock, g.gdsdes, g.gdsdate, g.gdsimg, g.gdsthumbimg from tbl_goods g
		inner join goods_category c on g.catecode = c.catecode where g.gdsnum = #{gdsnum}
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="replyInsert" parameterType="com.example.spring03.domain.ReplyVO">
		insert into tbl_reply (gdsnum, userid, repnum, repcon) values (#{gdsnum}, #{userid}, tbl_reply_seq.nextval, #{repcon})
	</insert>
	
	<!-- 댓글 리스트 -->
	<select id="replyList" resultType="com.example.spring03.domain.ReplyListVO">
		select r.gdsnum, r.userid, r.repnum, r.repcon, r.repdate, m.username from tbl_reply r inner join tbl_member m on r.userid = m.userid where gdsnum = #{gdsnum}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="replyDelete" parameterType="com.example.spring03.domain.ReplyVO">
		delete from tbl_reply where repnum = #{repnum} and userid = #{userid}
	</delete>
	
	<!-- 댓글 삭제용 유저 체크 -->
	<select id="replyIdCheck" resultType="String">
		select userid from tbl_reply where repnum = #{repnum}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="replyModify" parameterType="com.example.spring03.domain.ReplyVO">
		update tbl_reply set repcon = #{repcon} where repnum = #{repnum} and userid = #{userid}
	</update>
	
	<!-- 카트 담기 -->
	<insert id="cartInsert" parameterType="com.example.spring03.domain.CartVO">
		insert into tbl_cart (cartnum, userid, gdsnum, cartstock) values (tbl_cart_seq.nextval, #{userid}, #{gdsnum}, ${cartstock})
	</insert>
	
	<!-- 카트 리스트 -->
	<select id="cartList" resultType="com.example.spring03.domain.CartListVO">
		select row_number() over(order by c.cartnum desc) as num, c.cartnum, c.userid, c.gdsnum, c.cartstock, c.adddate, g.gdsname, g.gdsprice, g.gdsthumbimg
		from tbl_cart c inner join tbl_goods g on c.gdsnum = g.gdsnum where c.userid = #{userid}
	</select>
	
	<!-- 카트 삭제 -->
	<delete id="cartDelete" parameterType="com.example.spring03.domain.CartVO">
		delete from tbl_cart where cartnum = #{cartnum} and userid = #{userid}
	</delete>
	
</mapper>