<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

<select id="memberPasschk" resultType="String">
	select passwd from bmember where userid = #{userid}
</select>

<select id="countAll" resultType="int">
		select count(userid) from bmember
</select>

<select id="countSch" resultType="int">
	select count(userid) from bmember <include refid="search"></include>
</select>

<insert id="memberRegister"  parameterType="com.example.spring05.model.MemberVO">
	insert into bmember (userid, passwd, username, useremail,  userphone, carrier, postnum, useraddr1, useraddr2, useraddr3, reg_date, useraccess)
	values (#{userid}, #{passwd}, #{username}, #{useremail}, #{userphone}, #{carrier}, #{postnum}, #{useraddr1}, #{useraddr2}, #{useraddr3}, sysdate, 0)
</insert>

<select id="memberList" resultType="com.example.spring05.model.MemberVO">
	select rnum, userid, passwd, username, useremail, reg_date, up_date, useraccess from
	(select userid, passwd, username, useremail, reg_date, up_date, useraccess, row_number() over(order by reg_date desc) as rnum from bmember) bm
	order by reg_date desc
</select>

<select id="memberListPage" resultType="com.example.spring05.model.MemberVO"  parameterType="hashMap">
	select rnum, userid, passwd, username, useremail, reg_date, up_date, useraccess from
	(select userid, passwd, username, useremail, reg_date, up_date, useraccess, row_number() over(order by reg_date desc) as rnum from bmember) bm
	where rnum between #{startPost} and #{endPost} order by reg_date desc
</select>

<select id="memberListPageSch" resultType="com.example.spring05.model.MemberVO">
	select rnum, userid, passwd, username, useremail, reg_date, up_date, useraccess from
	(select userid, passwd, username, useremail, reg_date, up_date, useraccess, row_number() over(order by reg_date desc) as rnum from bmember <include refid="search"></include>) bm
	where rnum between #{startPost} and #{endPost} order by reg_date desc
</select>

<select id="memberView" resultType="com.example.spring05.model.MemberVO">
	select userid, passwd, username, useremail, userphone, carrier, postnum, useraddr1, useraddr2, useraddr3, reg_date, up_date, useraccess from bmember where userid = #{userid}
</select>

<update id="memberModify" parameterType="com.example.spring05.model.MemberVO">
	update bmember set passwd = #{passwd}, useremail = #{useremail}, userphone = #{userphone}, postnum = #{postnum}, useraddr1 = #{useraddr1}, useraddr2 = #{useraddr2},
	useraddr3 = #{useraddr3}, up_date = sysdate where userid = #{userid} and passwd = #{passwd}
</update>

<update id="memberAccess" parameterType="com.example.spring05.model.MemberVO">
	update bmemeber set useraccess = #{useraccess} where userid = #{userid}
</update>

<delete id="memberDelete" parameterType="com.example.spring05.model.MemberVO">
	delete bmember where userid = #{userid} and passwd = #{passwd}
</delete>

<sql id="search">
	<if test="option != null and !option.equals('') and !option.equals('list')">
		<choose>
			<when test="option.equals('all')">
				where userid like '%'||#{keyword}||'%'
				or username like '%'||#{keyword}||'%'
				or useremail like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				where ${option} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</if>
</sql>

</mapper>